.fixed-bottom-btn{
    position: fixed;
    bottom: 15px;
    left: 50%;
    transform: translateX(-50%);
    background: #003366;
    color: white;
    padding: 14px 26px;
    border-radius: 14px;
    font-size: 17px;
    font-weight: 500;
    text-decoration: none;
    box-shadow: 0 6px 12px rgba(0,0,0,0.25);
    z-index: 9999;
    transition: 0.2s;
}

/* leggero effetto tappo */
.fixed-bottom-btn:active{
    transform: translateX(-50%) scale(0.94);
}

